body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

canvas {
  display: block;
}

#device_info {
  position: fixed;
  left: 10px; top: 10px;
}

#key_data {
  display: none;
}
