body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

* {
  box-sizing: border-box;
}

#select-message {
  position: fixed;
  left: 50%; top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 44px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 0;
  /*width: 100%;*/
  /*text-align: center;*/
}

#select-message.hide {
  display: none;
}

#p5_loading {
  left: 0; right: 0;
  text-align: center;
  font-size: 30px;
  color: white;
}

.button {
  cursor: pointer;
  margin-right: 20px;
}

.close-button {
  z-index: 2;
}

.secondary-menu {
  display: flex;

  position: fixed;
  bottom: 30px; left: 30px;
}

.sounds-wrapper {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;*/

  position: fixed;
  background: white;
  top:0; right: 0; bottom: 0;

  /*border-left: 1px solid #111;*/
  font-size: 16px;
  padding: 0 10px;
  overflow-y: auto;
  /*height: 104px;*/
  /*-webkit-transform: translateY(97px);
  transform: translateY(97px);*/
  /*opacity: 0;
  visibility: hidden;*/

  -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.sound {
  display: flex;
  align-items: center;

  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  /*border-bottom: 8px solid #111;*/
  /*border: 1px solid #111;*/
}

.sound span {
  margin-right: 5px;
}

.sounds-wrapper.active,
.sounds-wrapper:hover {
  /*visibility: visible;
  opacity: 1;*/
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.sound.active {
  border: 4px solid #111;
  color: white;
}

.sound.selected {
  border: 4px dashed #111;
}

.sound.active .controls {
  display: none;
}

.sound img {
  display: block;
  width: 100%;
}

.logo {
  position: fixed;
  top: 30px; left: 30px;
  width: 160px;
}

.logo img {
  display: block;
  width: 100%;
}
