body {
  margin: 0;
  overflow: hidden;
}

video {
  display: none;

  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

video.focus {
  display: block;
}

.icon {
  background: black;
  position: absolute;
  z-index: 9;
  width: 100px; height: 60px;
}
